<% layout("./layouts/boilerplate") %>

<div class="container mt-2">
  <div class="row justify-content-center">
    <% if(!cart) { %>
    <h2 class="mt-5 text-center">There are no items in your shopping cart</h2>
    <% } else { %> <% products.forEach((element) => { %>
    <div class="card mx-2 mb-2" style="width: 18rem">
      <img
        class="card-img-top"
        src="<%=element.item.url%>"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title"><%=element.item.name%></h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
         <%= element.qty %> unit(s) X $<%= element.item.price %> = 
         $<%=element.price %>
          
        </li>

      </ul>
    </div>
    
    <% })%>
    <p class="text-center mt-4 total"> Total: $<%=cart.totalPrice %></p>
    <% } %>
  </div>

  <div class="row d-flex">
    <div class="d-flex justify-content-end">
      <% if(cart) {%>
      <a class="btn btn-outline-secondary text-right" href="/checkout">Checkout</a>
      <% } %>
    </div>
  </div>
</div>
